101 ICON "GamesCab.ico"

1 VERSIONINFO 
FILEVERSION 4,1,2,0 
PRODUCTVERSION 4,1,2,0 
FILEOS 0x40004
FILETYPE 0x1
{ 
BLOCK "StringFileInfo" 
{ 
 BLOCK "040904b0" 
 { 
  VALUE "Comments", "Photon FrontEnd allows you to view, update and play your games from a friendly fullscreen interface. It is part of the Photon GameManager Suite."
  VALUE "CompanyName", "Photon Software" 
  VALUE "FileVersion", "4.1.2.0" 
  VALUE "FileDescription", "PhotonFrontEnd" 
  VALUE "InternalName", "PhotonFrontEnd" 
  VALUE "LegalCopyright", "" 
  VALUE "LegalTrademarks", "" 
  VALUE "OriginalFilename", "PhotonFrontEnd.exe" 
  VALUE "ProductName", "Photon GameManager" 
  VALUE "ProductVersion", "4.1.2.0" 
 } 
}
BLOCK "VarFileInfo"
{
  VALUE "Translation", 0x0409, 0
}
}
