101 ICON "Internet.ico"

1 VERSIONINFO 
FILEVERSION 4,1,2,0 
PRODUCTVERSION 4,1,2,0 
FILEOS 0x40004
FILETYPE 0x1
{ 
BLOCK "StringFileInfo" 
{ 
 BLOCK "040904b0" 
 { 
  VALUE "Comments", "CommandLine tool for PhotonExplorer and PhotonFrontEnd"
  VALUE "CompanyName", "Photon Software" 
  VALUE "FileVersion", "4.1.2.0" 
  VALUE "FileDescription", "PhotonDownloader" 
  VALUE "InternalName", "PhotonDownloader" 
  VALUE "LegalCopyright", "" 
  VALUE "LegalTrademarks", "" 
  VALUE "OriginalFilename", "PhotonDownloader.exe" 
  VALUE "ProductName", "Photon GameManager" 
  VALUE "ProductVersion", "4.1.2.0" 
 } 
}
BLOCK "VarFileInfo"
{
  VALUE "Translation", 0x0409, 0
}
}
