101 ICON "Updater.ico"

1 VERSIONINFO 
FILEVERSION 4,1,5,0 
PRODUCTVERSION 4,1,5,0 
FILEOS 0x40004
FILETYPE 0x1
{ 
BLOCK "StringFileInfo" 
{ 
 BLOCK "040904b0" 
 { 
  VALUE "Comments", "Updates Photon GameManager"
  VALUE "CompanyName", "Photon Software" 
  VALUE "FileVersion", "4.1.5.0" 
  VALUE "FileDescription", "PhotonUpdater" 
  VALUE "InternalName", "PhotonUpdater" 
  VALUE "LegalCopyright", "" 
  VALUE "LegalTrademarks", "" 
  VALUE "OriginalFilename", "PhotonUpdater.exe" 
  VALUE "ProductName", "Photon GameManager" 
  VALUE "ProductVersion", "4.1.5.0" 
 } 
}
BLOCK "VarFileInfo"
{
  VALUE "Translation", 0x0409, 0
}
}
